<h2>Edit your Story Space:</h2>
<%if flash[:notice]%>
  <h3 style="color: #C7B855"><%= flash[:notice]%></h3>
<%end%>
  <form action="/stories/<%=@story.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name"></label>
    <textarea name="name" style="width: auto; height: auto"><%=@story.name%></textarea>
    <label for="author"></label>
    <textarea name="author" style="width: auto; height: auto"><%=@story.author%></textarea>
    <input type="submit" value="Edit Story">
  </form>
