<h3>Welcome, new Bookling! Please Signup for Quoteworthy:</h3>
<form action='/users' method="POST">
  <label for="username"></label>
  <input type="text" name="username" id="username" value="" placeholder="username">
  <label for="email"></label>
  <input type="email" name="email" id="email" value="" placeholder="email address">
  <label for="password"></label>
  <input type="password" name="password" id="password" value="" placeholder="password">
  <input type="submit" value="Signup">
</form>
