<div class="container">
  <%if flash[:notice]%>
    <h3 style="color: #C7B855"><%= flash[:notice]%></h3>
  <%end%>
  <header><img src="images/bookling.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>¡Quoteworthy!</h2>

    <div class="content">
      <p>Quoteworthy is a story space for all quotes found, forgotten, and found again. <br> For more information on the bookling (and his expectant one-eye), please visit: <a href="https://en.wikipedia.org/wiki/The_City_of_Dreaming_Books">City of Dreaming Books</a>.</p>
      <a href='/login'><input type="submit" value="Login"></a>
      <a href='/signup'><input type="submit" value="Signup"></a>
    </div>


  </div>
</div>
